$light-text-color: #F5FAFE;
$header-background-color: #0D3D62;
$accent-color: #FF6E40;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$even-content-background-color: #F6F6F6;

$main-padding: 4.4em;
$small-main-padding: 1.6em;
$title-text-size: 2.4em;
$small-title-text-size: 1.6em;
$main-margin: 1.6em;
$small-main-margin: 0.9em;
$secondary-margin: 0.9em;

$xsmall-screen-width-limit: 400px;
$small-screen-width-limit: 600px;
$small-screen-height-limit: 768px;