$light-text-color: #F5FAFE;
$header-background-color: #0D3D62;
$accent-color: #FF6E40;
$primary-text-color: #212121;

$main-padding: 80px;
$small-main-padding: 28px;
$title-text-size: 2.4em;
$small-title-text-size: 1.6em;
$main-margin: 28px;
$small-main-margin: 16px;

$medium-screen-width-limit: 1280px;
$small-screen-width-limit: 600px;
$small-screen-height-limit: 768px;