$light-text-color: #F5FAFE;
$header-background-color: #0D3D62;
$nav-background-color: transparent;
$nav-background-color-responsive: $header-background-color;
$nav-item-active-background-color: rgba(255, 255, 255, 1);
$accent-color: #FF6E40;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$darker-secondary-text-color: #333333;
$even-content-background-color: #F6F6F6;

$main-padding: 80px;
$small-main-padding-vertical: 28px;
$small-main-padding-horizontal: 8px;
$main-margin: 28px;
$small-main-margin: 16px;
$secondary-margin: 16px;

$title-text-size: 2.4em;
$small-title-text-size: 1.6em;

$xsmall-screen-width-limit: 400px;
$small-screen-width-limit: 600px;
$small-screen-height-limit: 720px;
