<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nicolas Poirier | Computer engineer · Product lover · Amateur pastry cook</title>
    <meta name="author" content="Nicolas Poirier">
    <meta name="description" content="Nicolas Poirier's website: Computer engineer - Product lover - Amateur pastry cook">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="canonical" href="https://nicolaspoirier.com/">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
    <link rel="apple-touch-icon" type="image/jpg" href="/apple-touch-icon.jpg">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header>
      <div id="header-content">
        <h1>Nicolas <span class="accent">Poirier</span></h1>
        <p>Computer engineer · Product lover · Amateur pastry cook</p>
      </div>
    </header>
    
    <div id="top-nav">
      <div class="nav-item" id="nav-empty"></div>
      <a href="javascript:void(0);" id="nav-toggle" onclick="toggleNav()">
        <i id="nav-toggle-icon" class="fa fa-bars"></i>
      </a>
      <nav>
        <a href="#about-me" class="nav-item">About me</a>
        <a href="#my-projects" class="nav-item">My projects</a>
        <a href="#my-education" class="nav-item">My education</a>
        <a href="#received-recommendations" class="nav-item">Received recommendations</a>
        <a href="#given-trainings" class="nav-item">Given trainings</a>
        <a href="#written-articles" class="nav-item">Written articles</a>
        <a href="#read-books" class="nav-item">Read books</a>
        <a href="#attended-meetups" class="nav-item">Attended meetups</a>
        <a href="#social-links" class="nav-item">Social links</a>
      </nav>
    </div>
    
    <main id="content">
      <section class="content-section" id="about-me">
        <div class="content-box">
          <h2 class="section-title">About <span class="accent">me</span></h2>
          <p class="content-center">
            Passionnate about understanding problems and solving them, I like to connect business, users and technology together. I also enjoy baking.
          </p>
        </div>
        </section>
      <section class="content-section even-content" id="my-projects">
        <div class="content-box">
          <h2 class="section-title">My <span class="accent">projects</span></h2>
          {%- for project in page.projects -%}
            <article class="entry">
              <div class="entry-left">
                <p class="entry-date">
                  {%- if project.start_date != project.end_date -%}
                    {{ project.start_date }} -&nbsp;
                  {%- endif -%}
                  <span class="accent">{{ project.end_date }}</span>
                </p>
              </div>
              <div class="entry-right">
                <h3 class="entry-title">
                  {{ project.name }}
                </h3>
                <p class="entry-subtitle">
                  {{ project.roles | join: ' - ' }}
                </p>
                <p class="entry-company">{{ project.company }}</p>
                <p class="entry-place">{{ project.place }}</p>
                <div class="entry-description">
                  {{ project.description | markdownify }}
                </div>
                <div class="entry-tags">
                  <p>
                    {{ project.skills | join: '&emsp;' | replace: ' ', '&nbsp;' }}
                  </p>
                </div>
                <div class="entry-info">
                  <p><i class="fa fa-users"></i>&nbsp;{{ project.team_size }}&emsp;<i class="far fa-clock"></i>&nbsp;{{ project.duration }}
                    {%- if project.link_uri -%}
                      &emsp;<a href="{{ project.link_uri }}" title="{{ project.link_text }}" class="animated-color"><i class="fa fa-link"></i>&nbsp;{{ project.link_text }}</a></p>
                    {%- endif -%} 
                </div>
              </div>
            </article>
          {%- endfor -%}
        </div>
      </section>
      <section class="content-section" id="my-education">
        <div class="content-box">
          <h2 class="section-title">My <span class="accent">education </span></h2>
          {%- for education in page.educations -%}
            <article class="entry">
              <div class="entry-left">
                <p class="entry-date">
                  {%- if education.start_date != education.end_date -%}
                    {{ education.start_date }} -&nbsp;
                  {%- endif -%}
                  <span class="accent">{{ education.end_date }}</span>
                </p>
              </div>
              <div class="entry-right">
                <h3 class="entry-title">
                  {{ education.name }}
                </h3>
                <p class="entry-subtitle">
                  {{ education.organization }}
                </p>
                <p class="entry-place">{{ education.place }}</p>
                <div class="entry-description">
                  {{ education.description | markdownify }}
                </div>
                <div class="entry-info">
                  <p><i class="far fa-clock"></i>&nbsp;{{ education.duration }}
                    {%- if education.link_uri -%}
                      &emsp;<a href="{{ education.link_uri }}" title="{{ education.link_text }}" class="animated-color"><i class="fa fa-link"></i>&nbsp;{{ education.link_text }}</a></p>
                    {%- endif -%} 
                </div>
              </div>
            </article>
          {%- endfor -%}
        </div>
      </section>
      <section class="content-section even-content" id="received-recommendations">
        <div class="content-box">
          <h2 class="section-title">Received <span class="accent">Recommendations </span></h2>
          {%- for recommandation in page.recommandations -%}
            <article class="entry entry-margin">
              <div>
                <h3 class="entry-title">{{ recommandation.name }}</h3>
                <p class="entry-subtitle">{{ recommandation.role }}</p>
                <p class="entry-subtitle-2">{{ recommandation.date }} - {{ recommandation.link_with_me }}</p>
                <div class="entry-description">
                  {{ recommandation.text | markdownify }}
                </div>
                <div class="entry-info">
                  <p><a href="https://www.linkedin.com/in/nicolas-poirier-0b579441/" title="LinkedIn" class="animated-color"><i class="fa fa-link"></i>&nbsp;LinkedIn</a>&emsp;<a href="{{ recommandation.profile_link_url }}" title="{{ recommandation.profile_link_text }}" class="animated-color"><i class="fa fa-link"></i>&nbsp;{{ recommandation.profile_link_text }}</a></p>
                </div>
              </div>
            </article>
          {%- endfor -%}
        </div>
      </section>
      <section class="content-section" id="given-trainings">
        <div class="content-box">
          <h2 class="section-title">Given <span class="accent">Trainings </span></h2>
          {%- for given_training in page.given_trainings -%}
            <article class="entry">
              <div class="entry-left">
                <p class="entry-date"><span class="accent">{{ given_training.date }}</span></p>
              </div>
              <div class="entry-right">
                <h3 class="entry-title">{{ given_training.name }}</h3>
                <p class="entry-subtitle">{{ given_training.organization }}</p>
                <div class="entry-info">
                  <p><i class="far fa-clock"></i>&nbsp{{ given_training.duration }}</p>
                </div>
              </div>
            </article>
          {%- endfor -%}
        </div>
      </section>
      <section class="content-section even-content" id="written-articles">
        <div class="content-box">
          <h2 class="section-title">Written <span class="accent">articles </span></h2>
          {%- for article in page.articles -%}
            <article class="entry entry-margin">
              <div>
                <h3 class="entry-title">{{ article.title }}</h3>
                <p class="entry-subtitle">{{ article.subtitle }}</p>
                <p class="entry-subtitle-2">{{ article.date }}</p>
                <p class="entry-info"><a href="{{ article.link_url }}" title="{{ article.link_text }}" class="animated-color"><i class="fa fa-link"></i>&nbsp;{{ article.link_text }}</a></p>
              </div>
            </article>
          {%- endfor -%}
        </div>
      </section>
      <section class="content-section" id="read-books">
        <div class="content-box">
          <h2 class="section-title">Read <span class="accent">books </span></h2>
          {%- for book in page.books -%}
            <article class="entry entry-margin">
              <div>
                <h3 class="entry-title">{{ book.title }}</h3>
                <p class="entry-subtitle">{{ book.authors | join: ', ' }}</p>
                <p class="entry-info"><a href="{{ book.link_url }}" title="{{ book.link_text }}" class="animated-color"><i class="fa fa-link"></i>&nbsp;{{ book.link_text }}</a></p>
              </div>
            </article>
          {%- endfor -%}
        </div>
      </section>
      <section class="content-section even-content" id="attended-meetups">
        <div class="content-box">
          <h2 class="section-title">Attended <span class="accent">meetups </span></h2>
          {%- for meetup in page.meetups -%}
            <article class="entry entry-margin">
              <div>
                <h3 class="entry-title">{{ meetup.name }}</h3>
                <div class="entry-info">
                  <p><a href="{{ meetup.link_url }}" title="{{ meetup.link_text }}" class="animated-color"><i class="fa fa-link"></i>&nbsp;{{ meetup.link_text }}</a></p>
                </div>
              </div>
            </article>
          {%- endfor -%}
        </div>
      </section>
    </main>
    <footer class="content-section">
      <div class="content-box">
        <ul id="social-links">
          {%- for social_link in page.social_links -%}
            <li class="li-margin">
              <a href="{{ social_link.link_url }}" rel="me" title="{{ social_link.link_text }}"><i class="fab {{ social_link.icon }} animated-color"></i></a>
            </li>
          {%- endfor -%}
        </ul>
        <p class="content-center">
          Nicolas Poirier
        </p>
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66162026-1', 'auto');
      ga('send', 'pageview');
      
      function toggleNav() {
        const navs = document.querySelectorAll('nav')
        navs.forEach(nav => {
            nav.classList.toggle('nav-item-show');
            if (nav.classList.contains('nav-item-show')) {
              nav.addEventListener('click', toggleNav, false);
            } else {
              nav.removeEventListener('click', toggleNav)
            }
        });
        const navEmpty = document.getElementById('nav-empty');
        const navToggleIcon = document.getElementById('nav-toggle-icon');
        
        navEmpty.classList.toggle('nav-item-show');
        
        if (navEmpty.classList.contains('nav-item-show')) {
          navToggleIcon.className = "fa fa-times";
        } else {
          navToggleIcon.className = "fa fa-bars";
        }
      }
    </script>
  </body>
</html>
